/* -------------------ПОЕХАЛИ---------------*/
body{
    font-family: 'Nunito Sans', 'Yeseva One', cursive, sans-serif;
    margin: 0 auto;
        letter-spacing: 0;
}

body *{
    box-sizing: border-box;
    margin: 0;
}

/*--------Don’t Repeat Yourself (Не повторяться)-------*/

.container{
     max-width: 1440px;
}

.button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 13px 33px;
    outline: 0;
    cursor: pointer;
    color: white;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover{
    border: 1px solid #89F9EA;
}

.title{
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 515px;
}

.subtitle{
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 27px;
    line-height: 1.3;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

h1 h2 h3{
    margin: 0;
}

.circle{
    position: absolute;
    background: #FFFFFF;
    border-radius: 30px;
    width: 9.57px;
    height: 9.57px;
    bottom: 0;
}


/*------ Шапка сайта ------*/

.header{
    background: #131313;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    padding: 37px 90px 36px 92px;
    font-size: 11px;
    line-height: 1.3;
}

/*------ Лого в шапке ------*/

.header-logo{
    font-size: 11px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #E3B873;
    display: inline-block;
    padding-right: 100px;
}

/*------ Навигация в шапке ------*/

.header-nav_link{
    display: flex;  
    list-style: none;
    padding-left: 0;
}

.header-nav_items{
    padding-right: 50px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav_items:hover{
    text-decoration: underline;
    color: #E3B873;
}

.header-nav_link:last-child{
    padding-right: 80px;
}

.phone{
    color: white;
    text-decoration-line: none;
    padding-right: 45px;
}

.phone:hover{
    color: #E3B873;
    text-decoration-line: underline;
}
/*------ Первый блок - HOME  ------*/

.HOME{
    background: url(../images/image%204.3.jpg) no-repeat;
    background-size: cover;
    height: 707px;
    position: relative;
    z-index: 1;
}

.HOME::before{
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.HOME-main{
    padding: 194px 799px 208px 134px;
/*    width: 676px;*/
/*    height: 305px;*/
}

.title span{
  color: #E3B873;  
}

.paragraph{
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 20px 0 41px 0; 
    width: 504px;
}

.btn{
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    padding: 19px 42px 20px 41px;
    width: 207px;
    margin-right: 20px;
}

.btn-clear{
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;  
    padding: 19px 42px 20px 41px;
    width: 207px
}

/*------ Второй блок - PROJECTS  ------*/

.PROJECTS{
    background-color:  #131313;
    padding-bottom: 416px;
}

.block-1{
/*    width: 1350px;*/
/*    height: 552;*/
    padding: 107px 134px 0 134px;
}

/*------ Навигация в PROJECTS  ------*/

.PROJECTS-ul{
    float: right;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 53px;
}

.PROJECTS__item a{
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase; 
    color: rgba(255, 255, 255, 0.3);
    padding-right: 60px;
    text-decoration: none;
}

.PROJECTS__item a:hover{
    text-decoration: underline;
    color: #E3B873;
}

/*------ Второй блок в PROJECTS  ------*/

.PROJECTS-wrapper{
    clear: right;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.PROJECTS-wrapper::before{
    content: "";
    background-image: url(../svg/1.svg);
    width: 41px;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.PROJECTS-wrapper::after{
    content: "";
    background-image: url(../svg/2.svg);
    width: 41px;
    height: 13px;
    position: absolute;
    left: 164px;
    bottom: 0px;
}

.circle1{
    left: 71px;
}

.circle2{
    left: 98px;
}

.circle3{
    left: 126px;
}

.PROJECTS-wrapper__text{
/*
    width: 442px;
    margin-right: 50px;
*/
}
    
.PROJECTS__text{
    font-size: 14px;
    line-height: 1.9;
    margin: 34px 50px 42px 0;
    color: #FFF;
/*
    width: 442px;
    height: 86px;
*/
}

.PROJECTS-wrapper__grid{
    width: 350px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
}

.PROJECTS-subtitle{
    font-size: 18px;
    line-height: 25px;
}

.PROJECTS-wrapper-grid__items span{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.PROJECTS-photo{
    width: 679px;
/*    height 482px;*/
    filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.15));
}

/*------ Третий блок - MEASUREMENT  ------*/

.MEASUREMENT{
    
}

.block-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.MEASUREMENT-main{
    margin-top: -311px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 62px;
}

/*------ Блок с картинкой - MEASUREMENT  ------*/

.MEASUREMENT-subtitle{
    position: relative;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 196px;
    letter-spacing: 0;
}

.MEASUREMENT-video{
    position: relative;
    width: 817px;
    height: 434px;
}

.MEASUREMENT-video::before{
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.MEASUREMENT-video::after{
    content: "";
    background-image: url(../svg/play.svg);
    position: absolute;
    width: 145px;
    height: 145px;
    top: 40%;
    left: 40%;
    z-index: 2;
}

.svg{
    background-image: url(../svg/Camera.svg);
    position: relative;
    width: 32px;
    height: 28px;
    left: 40%;
    bottom: 0px;
    margin-bottom: 31px;
    margin-top: 12px;
    
}

.svg::before{
    content: "";
    border-radius: 30px;
    width: 32px;
    position: absolute; 
    border-bottom: 1px solid #E3B873;
    top:50%;
    right: 40px;
}

.svg::after{
    content: "";
    border-radius: 30px;
    width: 32px;
    position: absolute; 
    border-bottom: 1px solid #E3B873;
    top:50%;
    left: 40px;
}

/*------ Основа - MEASUREMENT  ------*/

hr{
    width: 55px;
    height: 1px;
    background-color: #E3B873;
    border-radius: 30px; 
    margin-bottom: 34px;
}

.MEASUREMENT-paragraph{
    width: 681px;
    height: 130px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-bottom: 91px;
}


.form{
    width: 770px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-text{
    margin-right: 58px
}

.form-tel{
    margin-right: 49px;
    margin-bottom: 37px;
}


.checkbox_agree{
    display: inline;
    font-size: 14px;
    color: #181818;
    cursor: pointer;
}

.agree{
    opacity: 0;
    height: 0;
    width: 0;
}


.fake-checkbox { 
  display: inline-block;
  margin-left: 238px;
  margin-right: 9px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: -10px;
  border: 1px solid #E3B873;
  border-radius: 1px;
}

.agree:checked + .fake-checkbox {
  background: #E3B873;
}



.agree:checked + .fake-checkbox::before {
   content: "✔";
   font-size: 15px;
   display: block;
   margin-top: -3px;
   margin-left: 2px;
}

.agree:checked + .fake-checkbox::after {
    left: 8px;
    top: 6px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.button-submit{
    width: 200px;
    height: 50px;
    font-family: Nunito Sans;
    font-size: 13px;
    line-height: 27px;
}

.form-text, .form-tel{
    display: inline-block;
}

label, input{
    display: block;
}

.form-tel label, .form-text label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    transform: rotate(-0.07deg);
}

.form-tel input, .form-text input{
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

